<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="santauti.app">
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".Activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/loginTheme">

        </activity>
        <activity
            android:name=".Activities.Ficha.FichaActivity"
            android:label="@string/title_activity_ficha"
            android:launchMode="singleTop" />
        <activity
            android:name=".Activities.Home.HomeActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Activities.Ficha.PartesMedicas.HemodinamicoActivity" />
        <activity android:name=".Activities.Ficha.PartesMedicas.NeurologicoActivity" />
        <activity android:name=".Activities.Ficha.PartesMedicas.RespiratorioActivity" />
        <activity android:name=".Activities.Ficha.PartesMedicas.GastrointestinalActivity" />
        <activity android:name=".Activities.Ficha.PartesMedicas.RenalActivity" />
        <activity android:name=".Activities.Ficha.PartesMedicas.HematologicoActivity" />
        <activity android:name=".Activities.Ficha.PartesMedicas.EndocrinoActivity" />
        <activity android:name=".Activities.Ficha.PartesMedicas.InfecciosoActivity" />
        <activity android:name=".Activities.Ficha.PartesMedicas.MetabolicoActivity" />
        <activity
            android:name=".Activities.SplashActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.Ficha.PartesMedicas.MonitorMultiparametricoActivity" />
        <activity android:name=".Activities.Ficha.PartesMedicas.DispositivoActivity" />
        <activity android:name=".Activities.Ficha.PartesMedicas.BombaInfusaoActivity" />
        <activity android:name=".Activities.Ficha.PartesMedicas.RespiradorActivity" />
    </application>


</manifest>